LOGGING_LVL=INFO
# Bot specific
BOT_TOKEN=
# Unique telegram id, not a username
ADMIN_ID=
SUPPORT_TG_LINK=
CHANNEL_TAG=

# FastAPI
BOT_BASE_URL=https://bot.example.com/
# openssl rand -hex 16
TG_WEBHOOK_PATH='/webhook/<replace_with_secret>'
TG_WEBHOOK_SECRET='<replace_with_secret>'
# Don't forget to set it in the yookassa shop
YOOKASSA_WEBHOOK_PATH='/webhook/yookassa/<replace_with_secret>'
HOST=0.0.0.0
PORT=8080

# Remna
# e.g. https://panel.example.com/api
REMNAWAVE_API_URL=
REMNAWAVE_API_TOKEN=
AVAILABLE_SERVERS=🇳🇱 Нидерланды,🇺🇸 США,🇯🇵 Япония
# Squads to assign to users upon trial or subscription renewal
# Squads should be listed as comma separated values like: SQUADS=UUID0,UUID1,...
SQUADS=
# Panel webhook variables, should match the ones in the panel .env
REMNAWAVE_WEBHOOK_PATH=
REMNAWAVE_WEBHOOK_SECRET_HEADER=

# Trial specs
TRIAL_DAYS=3
TRIAL_TRAFFIC_GB=25

# Yookassa
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://t.me/bot
YOOKASSA_DEFAULT_RECEIPT_EMAIL=example@gmail.com
YOOKASSA_VAT_CODE=1
YOOKASSA_PAYMENT_MODE=full_prepayment
YOOKASSA_PAYMENT_SUBJECT=payment

# Subscription parameters
MONTHLY_TRAFFIC_GB=250
ENABLE_1_MONTH=True
RUB_PRICE_1_MONTH=110

ENABLE_3_MONTHS=True
RUB_PRICE_3_MONTHS=300

ENABLE_6_MONTHS=True
RUB_PRICE_6_MONTHS=650

# Passed to docker to get the right permissions for dynamically created files
# Use "id" command to get the actual ids
USER_NAME=user
USER_ID=1000
GROUP_ID=1000
