# Bot specific
BOT_TOKEN=
# Unique telegram id, not a username
ADMIN_ID=

# FastAPI
# openssl rand -hex 16
WEBHOOK_PATH=/webhook/gh3qh3qwg3q5h3q5h
WEBHOOK_SECRET=3qh3q5tg3qg3q55
# Don't forget to set it in the yookassa shop
YOOKASSA_WEBHOOK_PATH=/webhook/yookassa/3qh3q5wy53qeygg3qeh
DOMAIN=https://sub.example.com/
HOST = 0.0.0.0
PORT=8080

# Remna
REMNAWAVE_API_URL=
REMNAWAVE_API_TOKEN=
# Squads should be listed as comma separated values like: SQUADS=UUID0,UUID1,...
SQUADS=

# Trial specs
TRIAL_DAYS=3
TRIAL_TRAFFIC_GB=25

# Yookassa
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://t.me/bot
YOOKASSA_DEFAULT_RECEIPT_EMAIL=example@gmail.com
YOOKASSA_VAT_CODE=1
YOOKASSA_PAYMENT_MODE=full_prepayment
YOOKASSA_PAYMENT_SUBJECT=payment

# Subscription parameters
MONTHLY_TRAFFIC_GB=250
ENABLE_1_MONTH=True
RUB_PRICE_1_MONTH=110

ENABLE_3_MONTHS=True
RUB_PRICE_3_MONTHS=300

ENABLE_6_MONTHS=True
RUB_PRICE_6_MONTHS=650
